@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.r1::selection {
  background-color: #ff0000;
}

.r2::selection {
  background-color: #ffa500;
}

.r3::selection {
  background-color: #ffff00;
}

.r4::selection {
  background-color: #008000;
}

.r5::selection {
  background-color: #0000ff;
}

.r6::selection {
  background-color: #4b0082;
}

.r7::selection {
  background-color: #ee82ee;
}